@charset "utf-8";
/* CSS Document */

#image_slider{
	width:900px;
	height:600px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
	position:relative;	
}
#image_slider img{
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	display:none;
	}
#images{
	display:none;
	}
